.PERRISSABLE {
    background-color: crimson;
}

.etagere > div {
    width: 80%;
    margin: 0%;
    display: inline-block;
    background-color: #c60b0b;
}

.emplacement {

}

.invisible {
    display: none;
}

.etagere p {
    font-weight: bold;
    margin: 1%;
    text-align: center;

}

.etagere {
    text-align: center;
}

.planclub {
    height: 80%;
}

body {
    background-color: #404040;
    color: #FFFFFF;
}

a:link{
    color:blue;
}

a:visited{
    color:blue;
}

a:hover{
    color:gray;
}

a:active{
    color:green;
}

.tag {
    margin: 3px;
    margin-left: 15px;
    padding: 2px;
    border-radius: 10px;
    background-color: azure;
    color: black;
}