<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    {% load static %}
    <script src="{% static "scripts/meubles.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "styles/meubles.css" %}">
    <title>Accueil</title>
</head>
<body>
<div class="recherche" style="text-align: center">
    <p>Rechercher un objet</p>
    <input id="recherche" type="text"/>
    <button onclick="recherche()">Recherche</button>
</div>
<span>
    <div class="planclub">
        <svg
                style="float:left;width: 50%;"
                viewBox="-0.5 -0.5 1032 1112">
  <g
          id="planclub">
    <rect
            x="300"
            y="11"
            width="700"
            height="1100"
            id="rect1069"
            stroke="#000000"
            fill="#CCCCCC"/>
    <rect
            x="0"
            y="911"
            width="300"
            height="200"
            fill="#CCCCCC"
            stroke="#000000"
            id="rect1071"/>
    <rect
            x="295"
            y="41"
            width="10"
            height="60"
            fill="#000000"
            stroke="#000000"
            id="rect1073"/>
    <rect
            x="340"
            y="11"
            width="100"
            height="30"
            fill="#dae8fc"
            stroke="#6c8ebf"
            id="armoire_entree"/>
    <rect
            x="630"
            y="11"
            width="120"
            height="30"
            fill="#f8cecc"
            stroke="#b85450"
            id="armoire_if"/>
    <rect
            x="790"
            y="6"
            width="200"
            height="10"
            fill="#000000"
            stroke="#000000"
            id="rect1091"/>
    <rect
            x="300"
            y="531"
            width="90"
            height="100"
            fill="#000000"
            stroke="#000000"
            id="pistocolle"
            style="fill:#000000;fill-opacity:0.18677042"/>
    <ellipse
            cx="780"
            cy="31"
            rx="20"
            ry="20"
            fill="#003300"
            stroke="#82b366"
            id="ellipse1101"/>
    <rect
            x="500"
            y="141"
            width="300"
            height="120"
            fill="#f5f5f5"
            stroke="#666666"
            id="table_reunion"/>
    <g
            transform="translate(560.5,187.5)"
            id="g1109"/>
    <rect
            x="300"
            y="159.32948"
            width="60"
            height="280"
            id="meuble_entree"
            style="fill:#ff3333;fill-opacity:0.618677;stroke:#b85450"/>
    <rect
            x="300"
            y="631"
            width="100"
            height="300"
            fill="#0000cc"
            stroke="#9673a6"
            id="etabli_meca"
            style="fill:#0000cc;fill-opacity:0.53696495"/>
    <rect
            x="510"
            y="631"
            width="300"
            height="130"
            fill="#f5f5f5"
            stroke="#666666"
            id="table_coupe"/>
    <rect
            x="510"
            y="841"
            width="300"
            height="90"
            fill="#f5f5f5"
            stroke="#666666"
            id="table_tesla"/>
    <rect
            x="520"
            y="361"
            width="120"
            height="60"
            fill="#00BFFF"
            stroke="#000000"
            id="vitrine"/>
    <rect
            x="590"
            y="421"
            width="80"
            height="80"
            fill="#A0A0A0"
            stroke="#000000"
            id="rect1151"/>
    <rect
            x="550"
            y="421"
            width="40"
            height="80"
            fill="#d5e8d4"
            stroke="#82b366"
            id="frigo"/>
    <rect
            x="640"
            y="361"
            width="120"
            height="60"
            fill="#707070"
            stroke="#000000"
            id="sac"/>
    <rect
            x="520"
            y="501"
            width="120"
            height="60"
            fill="#cc00cc"
            stroke="#000000"
            id="casier1"/>
    <rect
            x="300"
            y="1051"
            width="700"
            height="60"
            fill="#cc6600"
            stroke="#000000"
            id="etabli_elec"/>
    <rect
            x="295"
            y="961"
            width="10"
            height="60"
            fill="#000000"
            stroke="#000000"
            id="rect1185"/>
    <rect
            x="0"
            y="911"
            width="300"
            height="60"
            fill="#006600"
            stroke="#000000"
            id="reserve"/>
    <rect
            x="640"
            y="501"
            width="120"
            height="60"
            fill="#cc00cc"
            stroke="#000000"
            id="casier2"/>
    <rect
            x="910"
            y="731"
            width="120"
            height="60"
            fill="#cc00cc"
            stroke="#000000"
            transform="rotate(90,970,761)"
            id="casier3"/>
    <rect
            x="940"
            y="501"
            width="60"
            height="200"
            fill="#006600"
            stroke="#000000"
            id="zoneproto"/>
    <rect
            x="880"
            y="431"
            width="110"
            height="30"
            fill="#006600"
            stroke="#000000"
            transform="rotate(90,935,446)"
            id="cables"
            style="fill:#006600;fill-opacity:0.49416342"/>
    <rect
            x="920"
            y="76"
            width="80"
            height="180"
            fill="#cc6600"
            stroke="#000000"
            id="canap"/>
    <g
            transform="translate(920.5,152.5)"
            id="g1233"/>
    <rect
            style="opacity:0.97;fill:#0a074f;fill-opacity:0.57868024;filter:url(#filter4557);stroke:#000029;stroke-opacity:1;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none"
            id="rect4547"
            width="60.703278"
            height="183.88268"
            x="940"
            y="821"/>
    <flowRoot
            xml:space="preserve"
            id="flowRoot4569"
            style="fill:black;fill-opacity:1;stroke:none;font-family:sans-serif;font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;letter-spacing:0px;word-spacing:0px"><flowRegion
         id="flowRegion4571"><rect
           id="rect4573"
           width="363.16525"
           height="133.27165"
           x="31.652018"
           y="-229.04599" /></flowRegion><flowPara
            id="flowPara4575"/></flowRoot>    <flowRoot
          xml:space="preserve"
          id="flowRoot4577"
          style="fill:black;fill-opacity:1;stroke:none;font-family:sans-serif;font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;letter-spacing:0px;word-spacing:0px"><flowRegion
         id="flowRegion4579"><rect
           id="rect4581"
           width="436.46466"
           height="126.60807"
           x="261.54562"
           y="-152.41479" /></flowRegion><flowPara
          id="flowPara4583"/></flowRoot>    <flowRoot
          xml:space="preserve"
          id="flowRoot4585"
          style="fill:black;fill-opacity:1;stroke:none;font-family:sans-serif;font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;letter-spacing:0px;word-spacing:0px"><flowRegion
         id="flowRegion4587"><rect
           id="rect4589"
           width="116.61269"
           height="61.638138"
           x="333.17914"
           y="-4.1500778" /></flowRegion><flowPara
          id="flowPara4591"/></flowRoot>    <flowRoot
          xml:space="preserve"
          id="flowRoot4601"
          style="fill:black;fill-opacity:1;stroke:none;font-family:sans-serif;font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;letter-spacing:0px;word-spacing:0px"><flowRegion
         id="flowRegion4603"><rect
           id="rect4605"
           width="183.24852"
           height="59.972244"
           x="321.51785"
           y="-4.1500778" /></flowRegion><flowPara
          id="flowPara4607"/></flowRoot>    <text
          xml:space="preserve"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none"
          x="392.65137"
          y="18.672461"
          id="text4611"><tspan
         sodipodi:role="line"
         id="tspan4609"
         x="0"
         y="0"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.66666603px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start"
           id="tspan4613" /></tspan></text>
    <flowRoot
            xml:space="preserve"
            id="flowRoot4617"
            style="fill:black;fill-opacity:1;stroke:none;font-family:sans-serif;font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;letter-spacing:0px;word-spacing:0px"><flowRegion
         id="flowRegion4619"><rect
           id="rect4621"
           width="105.65498"
           height="49.319851"
           x="334.84503"
           y="11.5" /></flowRegion><flowPara
            id="flowPara4623"/></flowRoot>    <text
          xml:space="preserve"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none"
          x="307.6907"
          y="66.983437"
          id="text4627"><tspan
         sodipodi:role="line"
         id="tspan4625"
         x="307.6907"
         y="66.983437"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start">Bibliothèque</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="621.67053"
            y="67.654327"
            id="text4631"><tspan
         sodipodi:role="line"
         id="tspan4629"
         x="621.67053"
         y="67.654327">Armoire IF</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="540.91608"
            y="208.58456"
            id="text4635"><tspan
         sodipodi:role="line"
         id="tspan4633"
         x="540.91608"
         y="208.58456">Table de réunion</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="860.76801"
            y="281.88397"
            id="text4639"><tspan
         sodipodi:role="line"
         id="tspan4637"
         x="860.76801"
         y="281.88397">Canap &lt;3</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="532.58661"
            y="351.85159"
            id="text4643"><tspan
         sodipodi:role="line"
         id="tspan4641"
         x="532.58661"
         y="351.85159">Vitrine</tspan><tspan
            sodipodi:role="line"
            x="532.58661"
            y="385.18494"
            id="tspan4645"/></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="664.19238"
            y="351.85159"
            id="text4649"><tspan
         sodipodi:role="line"
         x="664.19238"
         y="351.85159"
         id="tspan4651">Sacs</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="465.95081"
            y="470.13019"
            id="text4657"><tspan
         sodipodi:role="line"
         id="tspan4655"
         x="465.95081"
         y="470.13019">Frigo</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="522.59125"
            y="586.74286"
            id="text4661"><tspan
         sodipodi:role="line"
         id="tspan4659"
         x="522.59125"
         y="586.74286">Casier 1</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="642.53571"
            y="586.74286"
            id="text4665"><tspan
         sodipodi:role="line"
         id="tspan4663"
         x="642.53571"
         y="586.74286">Casier 2</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#FFFFFF;fill-opacity:1;stroke:none"
            x="194.40981"
            y="285.21573"
            id="text4669"><tspan
         sodipodi:role="line"
         id="tspan4667"
         x="194.40981"
         y="285.21573">Meuble</tspan><tspan
            sodipodi:role="line"
            x="194.40981"
            y="318.54907"
            id="tspan4671"> Entrée</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#FFFFFF;fill-opacity:1;stroke:none"
            x="162.75778"
            y="583.41107"
            id="text4675"><tspan
         sodipodi:role="line"
         id="tspan4673"
         x="162.75778"
         y="583.41107">Meuble</tspan><tspan
            sodipodi:role="line"
            x="162.75778"
            y="616.74438"
            id="tspan4677">Pistocolle</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#FFFFFF;fill-opacity:1;stroke:none"
            x="212.73465"
            y="776.65497"
            id="text4681"><tspan
         sodipodi:role="line"
         id="tspan4679"
         x="212.73465"
         y="776.65497">Etabli </tspan><tspan
            sodipodi:role="line"
            x="212.73465"
            y="809.98828"
            id="tspan4727">méca</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="577.56573"
            y="791.64807"
            id="text4685"><tspan
         sodipodi:role="line"
         x="577.56573"
         y="791.64807"
         id="tspan4687">Table coupe</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="534.2525"
            y="961.5694"
            id="text4693"><tspan
         sodipodi:role="line"
         id="tspan4691"
         x="534.2525"
         y="961.5694">Table bobine Tesla</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="577.5658"
            y="1043.1984"
            id="text4697"><tspan
         sodipodi:role="line"
         id="tspan4695"
         x="577.5658"
         y="1043.1984">Etabli élec</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="89.458366"
            y="1006.5485"
            id="text4701"><tspan
         sodipodi:role="line"
         id="tspan4699"
         x="89.458366"
         y="1006.5485">Reserve</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="830.78192"
            y="908.26074"
            id="text4705"><tspan
         sodipodi:role="line"
         id="tspan4703"
         x="830.78192"
         y="908.26074">Armoire</tspan><tspan
            sodipodi:role="line"
            x="830.78192"
            y="941.59406"
            id="tspan4707">cuisine</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="864.09985"
            y="595.07239"
            id="text4711"><tspan
         sodipodi:role="line"
         id="tspan4709"
         x="864.09985"
         y="595.07239">Zone</tspan><tspan
            sodipodi:role="line"
            x="864.09985"
            y="628.4057"
            id="tspan4713">proto</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="824.11841"
            y="774.98907"
            id="text4717"><tspan
         sodipodi:role="line"
         id="tspan4715"
         x="824.11841"
         y="774.98907">Casier 3</tspan></text>
    <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none"
            x="812.45709"
            y="438.47815"
            id="text4721"><tspan
         sodipodi:role="line"
         id="tspan4719"
         x="812.45709"
         y="438.47815">Meuble</tspan><tspan
            sodipodi:role="line"
            x="812.45709"
            y="471.81149"
            id="tspan4723">cables</tspan></text>
  </g>
</svg>
    </div>

    <div style="float:right;width: 50%" id="elementachanger">
    </div>

</span>
<p style="text-align: center"><a href="admin">Partie administration</a></p>
</body>
</html>
