<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    {% load static %}
    <title>{{ meuble.nom }}</title>
    <script src="{% static "scripts/meubles.js" %}"></script>
</head>

<body style="text-align: center;">
<h2>{{ meuble.nom }}</h2>
{% for etagere in meuble.etageres.all %}
    <div>
        <h4>#{{ etagere.id }}: {{ etagere.emplacement }}</h4>
        <div>
            <table align="center">
                {% for art in etagere.objets.all %}
                    <tr>
                        <td>
                            {{ art.nom }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endfor %}
</body>
</html>